MONGO_URI = database url
ALLOWED_ORIGINS = http://localhost:5173
NODE_ENV = development

ACCESSTOKEN_SCERET = access token secret
ACCESSTOKEN_EXPIRY = access token expiry
REFRESHTOKEN_SCERET = refresh token secret
REFRESHTOKEN_EXPIRY = refresh token expiry
JWT_OTP_TOKEN_SECRET = jwt token secret

GMAIL_USER = gmail smtp email
GMAIL_PASS = gmail smtp password